<!DOCTYPE html>
<head>
  <title>pygotham demo</title>
</head>
<body>
  <h1>GIVE US UR QUOTEZ</h1>
  <form method="POST" action="/">
    <h3>This is where the quote goes</h3>
    <input name="quote" type="textarea"></input>
    </br>
    <h3>This is where the author goes</h3>
    <input name="author" type="text"></input>
    </br>
    <h3>width</h3>
    <input name="width" type="number"></input>
    </br>
    <h3>height</h3>
    <input name="height" type="number"></input>
    </br>
    <input type="submit">SEND IT OUT!</input>
  </form>
</body>
